/******************************************************************
Site Name:
Author:

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/
/*********************
FONT FACE (IN YOUR FACE)
*********************/
/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/
/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/
/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
/* line 64, ../scss/partials/_typography.scss */
p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/******************************************************************
Site Name:
Author:

Stylesheet: IE Grid Styles

Since the example grid is based on media queries, so rather than
setup some js library that would make IE8 and below understand
media queries, let's just add some styles that serves a fixed grid.

Again, if you want to roll your own, just remove this junk and put
whatever you use in here.

******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/*
IMPORTANT NOTE ABOUT SASS 3.3 & UP
You can't use @extend within media queries
anymore, so just be aware that if you drop
them in here, they won't work.
*/
/*********************
NAVIGATION STYLES
*********************/
/* .menu is clearfixed inside mixins.scss */
/* line 33, ../scss/breakpoints/_481up.scss */
.menu {
  /* end .menu ul */
}
/* line 34, ../scss/breakpoints/_481up.scss */
.menu ul {
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 35, ../scss/breakpoints/_481up.scss */
.menu ul li {
  /*
  plan your menus and drop-downs wisely.
  */
}
/* line 36, ../scss/breakpoints/_481up.scss */
.menu ul li a {
  /*
  you can use hover styles here even though this size
  has the possibility of being a mobile device.
  */
}

/* end .menu */
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
/* line 81, ../scss/breakpoints/_481up.scss */
.entry-content {
  /* at this larger size, we can start to align images */
}
/* line 85, ../scss/breakpoints/_481up.scss */
.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
/* line 90, ../scss/breakpoints/_481up.scss */
.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
/* line 95, ../scss/breakpoints/_481up.scss */
.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

/* end .entry-content */
/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/*********************
LAYOUT & GRID STYLES
*********************/
/* line 26, ../scss/breakpoints/_768up.scss */
.wrap {
  width: 760px;
}

/*********************
HEADER STYLES
*********************/
/* line 34, ../scss/breakpoints/_768up.scss */
.header {
  height: 120px;
}

/* line 37, ../scss/breakpoints/_768up.scss */
#logo {
  padding-left: 10px;
  width: 280px;
}

/*********************
NAVIGATION STYLES
*********************/
/* line 46, ../scss/breakpoints/_768up.scss */
.nav {
  border: 0;
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 48, ../scss/breakpoints/_768up.scss */
.nav ul {
  background: #323944;
  margin-top: 0;
}
/* line 52, ../scss/breakpoints/_768up.scss */
.nav li {
  float: left;
  position: relative;
  /*
  plan your menus and drop-downs wisely.
  */
  /* showing sub-menus */
}
/* line 56, ../scss/breakpoints/_768up.scss */
.nav li a {
  border-bottom: 0;
  /*
  you can use hover styles here even though this size
  has the possibility of being a mobile device.
  */
}
/* line 63, ../scss/breakpoints/_768up.scss */
.nav li a:hover, .nav li a:focus {
  color: #fff;
  text-decoration: underline;
}
/* line 75, ../scss/breakpoints/_768up.scss */
.nav li ul.sub-menu,
.nav li ul.children {
  margin-top: 0;
  border: 1px solid #ccc;
  border-top: 0;
  position: absolute;
  visibility: hidden;
  z-index: 8999;
  /* highlight sub-menu current page */
}
/* line 84, ../scss/breakpoints/_768up.scss */
.nav li ul.sub-menu li,
.nav li ul.children li {
  /*
  if you need to go deeper, go nuts
  just remember deeper menus suck
  for usability. k, bai.
  */
}
/* line 86, ../scss/breakpoints/_768up.scss */
.nav li ul.sub-menu li a,
.nav li ul.children li a {
  padding-left: 10px;
  border-right: 0;
  display: block;
  width: 180px;
  border-bottom: 1px solid #ccc;
}
/* line 103, ../scss/breakpoints/_768up.scss */
.nav li ul.sub-menu li:last-child a,
.nav li ul.children li:last-child a {
  border-bottom: 0;
}
/* line 113, ../scss/breakpoints/_768up.scss */
.nav li ul.sub-menu li ul,
.nav li ul.children li ul {
  top: 0;
  left: 100%;
}
/* line 128, ../scss/breakpoints/_768up.scss */
.nav li:hover > ul {
  top: auto;
  visibility: visible;
}

/* end .nav */
/*********************
SIDEBARS & ASIDES
*********************/
/* line 148, ../scss/breakpoints/_768up.scss */
.sidebar {
  margin-top: 2.2em;
}

/* line 152, ../scss/breakpoints/_768up.scss */
.widgettitle {
  border-bottom: 2px solid #444;
  margin-bottom: 0.75em;
}

/* line 157, ../scss/breakpoints/_768up.scss */
.widget {
  padding: 0 10px;
  margin: 2.2em 0;
}
/* line 162, ../scss/breakpoints/_768up.scss */
.widget ul li {
  margin-bottom: 0.75em;
  /* deep nesting */
}
/* line 170, ../scss/breakpoints/_768up.scss */
.widget ul li ul {
  margin-top: 0.75em;
  padding-left: 1em;
}

/* links widget */
/* meta widget */
/* pages widget */
/* recent-posts widget */
/* archives widget */
/* tag-cloud widget */
/* calendar widget */
/* category widget */
/* recent-comments widget */
/* search widget */
/* text widget */
/*********************
FOOTER STYLES
*********************/
/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
/* line 278, ../scss/breakpoints/_768up.scss */
.footer-links ul li {
  /*
  be careful with the depth of your menus.
  it's very rare to have multi-depth menus in
  the footer.
  */
}

/* end .footer-links */
/*********************
MY STYLES
*********************/
/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
/* line 12, ../scss/breakpoints/_1030up.scss */
.wrap {
  width: 1040px;
}

/* line 17, ../scss/breakpoints/_1030up.scss */
.about .about_title {
  font-size: 1.75em;
}

/* line 24, ../scss/breakpoints/_1030up.scss */
html {
  overflow: hidden;
  max-height: 100vh;
}

/* line 29, ../scss/breakpoints/_1030up.scss */
.home {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

/* line 37, ../scss/breakpoints/_1030up.scss */
.home #content #main {
  height: calc(100vh - 120px);
  overflow: hidden;
  position: relative;
}
/* line 42, ../scss/breakpoints/_1030up.scss */
.home #content #main > * {
  height: 100%;
  overflow: auto;
}

/* line 48, ../scss/breakpoints/_1030up.scss */
.about {
  margin-top: 0%;
  padding-top: 2%;
  float: left;
  width: 25%;
  padding-right: 1%;
  padding-left: 1%;
  padding-top: 0px;
}
/* line 56, ../scss/breakpoints/_1030up.scss */
.about h2 {
  margin-top: 0px;
}
/* line 59, ../scss/breakpoints/_1030up.scss */
.about .about_title {
  font-size: 1.25em;
}
/* line 63, ../scss/breakpoints/_1030up.scss */
.about .about_text p {
  margin: 0px;
}
/* line 66, ../scss/breakpoints/_1030up.scss */
.about .about_text #more_button {
  width: 120px;
  line-height: 1em;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line 75, ../scss/breakpoints/_1030up.scss */
.galleries {
  float: right;
  width: 75%;
  padding-left: 5%;
}
/* line 80, ../scss/breakpoints/_1030up.scss */
.galleries .book_gallery {
  margin: 5% 4%;
  display: inline-block;
  position: relative;
  height: 200px;
  width: 200px;
  right: 0px;
  transition: right 1s;
}
/* line 90, ../scss/breakpoints/_1030up.scss */
.galleries .book_gallery:hover {
  right: 40px;
}
/* line 92, ../scss/breakpoints/_1030up.scss */
.galleries .book_gallery:hover .hover_thumb {
  right: -80px;
}
/* line 96, ../scss/breakpoints/_1030up.scss */
.galleries .book_gallery .book_wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 10%;
  background-color: #8E8E8E;
  z-index: 2;
}
/* line 104, ../scss/breakpoints/_1030up.scss */
.galleries .book_gallery .book_wrapper .gallery_item {
  height: 100%;
  width: 100%;
  margin: auto;
}
/* line 110, ../scss/breakpoints/_1030up.scss */
.galleries .book_gallery .book_wrapper .gallery_item .gallery_thumb {
  position: initial;
}
/* line 115, ../scss/breakpoints/_1030up.scss */
.galleries .book_gallery .hover_thumb {
  position: absolute;
  z-index: 1;
  top: 0;
  transition: right 1s;
  right: 0px;
}

/* line 125, ../scss/breakpoints/_1030up.scss */
#content {
  position: relative;
}

/* line 129, ../scss/breakpoints/_1030up.scss */
.modal_wrapper {
  position: absolute;
  z-index: 4;
  top: 100%;
  bottom: 0;
  overflow: auto;
  transition: top 1s ease-out;
}
/* line 137, ../scss/breakpoints/_1030up.scss */
.modal_wrapper .modal #close_modal {
  width: 100px;
  margin-left: 1%;
  position: sticky;
  top: 10px;
}
/* line 144, ../scss/breakpoints/_1030up.scss */
.modal_wrapper .modal#about_modal {
  background-color: #333333;
  position: relative;
  top: 0px;
}
/* line 150, ../scss/breakpoints/_1030up.scss */
.modal_wrapper.open {
  top: 0px;
  transition: top 1s ease-in;
}

/* line 161, ../scss/breakpoints/_1030up.scss */
.text_button {
  cursor: pointer;
  background-color: #333333;
  color: #b3b3b3;
  border: 1px #4d4d4d solid;
  padding: 10px;
  text-align: center;
}
/* line 168, ../scss/breakpoints/_1030up.scss */
.text_button:hover {
  background-color: #4d4d4d;
  color: #9a9a9a;
}

/* line 176, ../scss/breakpoints/_1030up.scss */
.single {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

/* line 184, ../scss/breakpoints/_1030up.scss */
.single #content #main {
  height: calc(100vh - 120px);
  position: relative;
}
/* line 187, ../scss/breakpoints/_1030up.scss */
.single #content #main > * {
  height: 100%;
  overflow: auto;
}

/* line 192, ../scss/breakpoints/_1030up.scss */
.gallery_single {
  padding: 0;
  float: right;
  width: 75%;
}

/* line 197, ../scss/breakpoints/_1030up.scss */
.picture_item {
  height: 55vh;
  margin: 6%;
}

/* line 203, ../scss/breakpoints/_1030up.scss */
.desktop_only {
  display: initial;
}

/* line 207, ../scss/breakpoints/_1030up.scss */
.mobile_only {
  display: none;
}

/* line 211, ../scss/breakpoints/_1030up.scss */
#navigation {
  width: calc(100% - 290px);
  display: inline-block;
  position: inherit;
  top: inherit;
  right: inherit;
}
/* line 218, ../scss/breakpoints/_1030up.scss */
#navigation #header_button {
  top: -5px;
  background-color: #b3b3b3;
  color: #333333;
  font-size: 20px;
  display: block;
  width: 150px;
  padding: 12px 0;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  z-index: 10;
  transition: background-color .5s, color .5s, top 1s 1s;
}
/* line 232, ../scss/breakpoints/_1030up.scss */
#navigation #header_button:hover {
  background-color: #9a9a9a;
  color: #4d4d4d;
}
/* line 238, ../scss/breakpoints/_1030up.scss */
#navigation #book_nav {
  overflow: hidden;
  text-align: center;
  position: absolute;
  display: inline-block;
  text-align: center;
  width: calc(100% - 285px);
  margin-top: -20px;
  opacity: 0;
  letter-spacing: -1em;
  transition: all 1s, margin-top 1s 1s, opacity 1s;
}
/* line 250, ../scss/breakpoints/_1030up.scss */
#navigation #book_nav #book_items {
  padding: 0;
  list-style: none;
  text-align: center;
}
/* line 254, ../scss/breakpoints/_1030up.scss */
#navigation #book_nav #book_items .book_item {
  vertical-align: text-top;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  position: relative;
  overflow: auto;
  transition: all 1s;
  margin: 0 0 0 -10px;
  min-width: 10px;
  height: 100px;
}
/* line 265, ../scss/breakpoints/_1030up.scss */
#navigation #book_nav #book_items .book_item .book_id {
  position: absolute;
  left: 15%;
  display: inline;
  opacity: 1;
  transition: opacity .8s .5s;
}
/* line 272, ../scss/breakpoints/_1030up.scss */
#navigation #book_nav #book_items .book_item .book_title {
  letter-spacing: 0;
  max-width: 0;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  overflow: hidden;
  opacity: 0;
  transition: max-width 1s ease-out, opacity 1s;
}
/* line 283, ../scss/breakpoints/_1030up.scss */
#navigation #book_nav #book_items .book_item:hover .book_id {
  opacity: 0;
  transition: opacity .5s;
}
/* line 287, ../scss/breakpoints/_1030up.scss */
#navigation #book_nav #book_items .book_item:hover .book_title {
  opacity: 1;
  max-width: 140px;
  text-decoration: none;
}
/* line 294, ../scss/breakpoints/_1030up.scss */
#navigation #book_nav #book_items .book_item.current .book_id {
  opacity: 0;
  transition: opacity .5s;
}
/* line 298, ../scss/breakpoints/_1030up.scss */
#navigation #book_nav #book_items .book_item.current .book_title {
  opacity: 0;
  transition: opacity .5s, letter-spacing .3s;
  letter-spacing: -6px;
  max-width: 140px;
}
/* line 310, ../scss/breakpoints/_1030up.scss */
#navigation.open #header_button {
  background-color: #333333;
  color: #b3b3b3;
  top: -30px;
  border: 1px #4d4d4d solid;
  transition: top 1s;
}
/* line 316, ../scss/breakpoints/_1030up.scss */
#navigation.open #header_button:hover {
  background-color: #4d4d4d;
  color: #9a9a9a;
}
/* line 321, ../scss/breakpoints/_1030up.scss */
#navigation.open #book_nav {
  margin-top: -35px;
  opacity: 1;
  letter-spacing: 20px;
  transition: all 1s, letter-spacing 1s 0.5s, opacity 1s .4s;
}
/* line 327, ../scss/breakpoints/_1030up.scss */
#navigation.open #book_nav #book_items .book_item {
  transition: margin 1s 1s;
  margin: 0 15px 0 0px;
}
/* line 330, ../scss/breakpoints/_1030up.scss */
#navigation.open #book_nav #book_items .book_item .book_id {
  text-decoration: none;
}
/* line 334, ../scss/breakpoints/_1030up.scss */
#navigation.open #book_nav #book_items .book_item.current .book_title {
  opacity: 1;
  transition: opacity .5s, letter-spacing .5s .8s;
  letter-spacing: 0px;
  max-width: 140px;
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-color: #4d4d4d;
  border-bottom-style: solid;
}

/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
